.gitattributes export-ignore  
.gitignore export-ignore

/GroundBranch/Content/GroundBranch/GameMode/Assassination.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/Benchmark.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/Benchmark.lua.OLD export-ignore
/GroundBranch/Content/GroundBranch/GameMode/BenchmarkValidate.lua.OLD export-ignore
/GroundBranch/Content/GroundBranch/GameMode/DTAS.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/DTASValidate.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/Deathmatch.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/DeathmatchValidate.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/Defuse.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/HostageRescue.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/HostageRescueValidate.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/IntelRetrieval.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/IntelRetrievalValidate.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/LastManStanding.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/TeamElimination.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/TeamEliminationValidate.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/TerroristHunt.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/TerroristHuntValidate.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/Training.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/Uplink.lua export-ignore
/GroundBranch/Content/GroundBranch/GameMode/UplinkValidate.lua export-ignore

/GroundBranch/Content/GroundBranch/Lua/Bomb.lua export-ignore
/GroundBranch/Content/GroundBranch/Lua/Flag.lua export-ignore
/GroundBranch/Content/GroundBranch/Lua/IntelTarget.lua export-ignore
/GroundBranch/Content/GroundBranch/Lua/Laptop.lua export-ignore
/GroundBranch/Content/GroundBranch/Lua/Testing.lua export-ignore
/GroundBranch/Content/GroundBranch/Lua/UplinkTarget.lua export-ignore
